#accueil {
  
  display:flex;
  flex-direction:column; 
  justify-content: center;
  align-items: center;
  background: $footer;
  background-image: url('#{$baseurl}/assets/images/Background.png');
  height: 40vh;
  -moz-box-shadow:none;  
  -webkit-box-shadow: none;  
  box-shadow:none;  
}

#ECOGEN img{
  width:500px;
  height: auto;
}

.buttonECOGEN{
  width:250px;
  height:auto;
  margin:auto;
}

.buttonECOGEN a{
  display:block;
  background:url('#{$baseurl}/assets/images/ecogen_base.png') no-repeat;
  background-size: contain;
  background-position: center;
  text-decoration:none;
}

.buttonECOGEN a:hover {
  background:url('#{$baseurl}/assets/images/ecogen_hover.png') no-repeat;
  background-size: contain;
  background-position: center;
}

#subtitle{
  color: $main;
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}