/******************/
/*General settings*/
/******************/

body {
  margin: 0;
  margin-top:60px;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  //text-align: justify;
}

h1,
h2,
h3 {
  font-weight: 600;
  /*color: $heading-font-color;*/
  font-family: $heading-font;
  line-height: 1.5;
}
h1 {
  color: $main;
  font-size: 3.5em;
  margin-bottom: 10px;
  a,
  a:visited {
    text-decoration: none;
    color: $main;
  }

}
h2 {
  font-size: 2em;
  text-align: left;
  /*margin: 10px;*/
}
a,
a:visited {
  color: $link-color;
  text-decoration: underline;
  /*font-weight: bold;*/
}
a:hover {
  color: $link-hover-color;
  text-decoration: underline;
}

main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0px auto 50px auto;
}

time {
  color: #898989;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

/*********/
/*Bandeau*/
/*********/

#logo{
  display: flex;
  align-items: center;
  margin-right:20px;
}

#logo a{
  display: flex;
  align-items: center;
  margin:0;
}

#logo img{
  width:50px;
  margin:0;
  padding: 0;
}

#bandeau {
  display: flex;
  flex-direction: row;
  justify-content :center;
  align-items: center;
  position: fixed;
  top: 0;
  /*left: 0;*/
  background: #fff;
  width: 100%;
  z-index:2;
  border-bottom: 1px solid lighten($light, 30%);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
  nav {
    /*float: center;*/
    max-width: 800px;
    /*margin: auto;*/
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        position: relative;
        a {
          text-decoration: none;
          display: block;
          padding: 20px;
          font-family: 'Muli', sans-serif;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: 0;
          &:hover,
          &:active {
            background: $header;
            text-decoration: none;
            color: $link-hover-color-menu;
          }
        }
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

/********/
/*Footer*/
/********/

footer{
  text-align: center;
  padding: 10px;
  background: $footer;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.flexZone{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content :center;
  align-items: center;
}

.design{
  justify-content :center;
  align-items: center;
  text-align: justify;
}

footer img{
  width: 70px ;
  margin: 0;
  padding: 0;
  margin-left:5px ;
}

/******************************************/
/*  réglages paragraphe */
/******************************************/
p{
  text-indent: 0em;
}
.surligne
{
 	background-color:#E4E4E4;
}
  .notes
  {
  font-size: smaller;
  font-style: italic;
  margin-top: -1em;  
  }
.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: “FlipH”; }

.colonne{
  display: flex;
  flex-direction: row;
  justify-content :center;
  /*justify-content: space-between;*/
}

.colonne aside{
  /*background-color: blue ;*/
  width: 50% ;
}

.colonne aside + div{
  /*background-color: yellow ;*/
   width: 100% ;
}

/*Reglages article*/
article>h1{
  font-size: 2em;
}

article{
/*  margin:0;
  padding: 0;*/
  justify-content :center;
  align-items: center;
  text-align: justify;
}

aside{
  border-right-style: solid;
  border-right-color: grey;
  border-right-width: 1.1px;
  font-size: 0.7em; 
  margin-right: 50px;
  padding-right: 20px;
}

/******************************************/
/*Gestion des logos*/
/******************************************/

#logos{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content :center;
    align-items: center;
}

.imgLogos0{
  width:40%;
  height:40%;
  /*padding :20px;*/
}

.imgLogos1{
  width:27%;
  height:27%;
  /*padding :20px;*/
}

.imgLogos2{
  width:23%;
  height:23%;
  /*padding :20px;*/
}

.imgLogos3{
  width:20%;
  height:20%;
  /*padding :20px;*/
}

.imgLogos4{
  width:15%;
  height:15%;
  /*padding :20px;*/
}

img{
  width:100%;
  height:100%;
  padding:20px;
}

/******************************************/
/*Gestion video*/
/******************************************/

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content :center;
    align-items: center;
}

.galleryVideo{
  justify-content :center;
  align-items: center;
  text-align: justify;
  width: 45%;
  margin:15px;
  font-size: 0.8em;
}

.galleryGif{
  padding:0;
}

video{
  max-width: 100%;
}
video + figcaption, img + figcaption, center + figcaption
{
font-size:80%;
font-style: italic;
  text-align: center;
}
.lettre{
  color: $main;
}

/*Gestion des articles flex*/
.flex{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content :center;
    align-items: center;
}
.flex p{
  max-width: 60%;
  /*padding-right: 20px;*/
}
.flex img{
  max-width: 40%;
  padding-right: 20px;
  padding-left: 20px;
}

/**********************/
/* Commandes terminal */
/**********************/

.cmd{
  border-style: solid;
  border-width: 1px;
  border-color:grey;
  border-radius: 10px;
  background-color: $cmdColor;
  font: "Courrier New";
  padding-left: 20px;
}

#docs{
  width:150px;
  height:auto;
  margin:0;
  padding: 0;
}

.colonneLeft{
  display: flex;
  flex-direction: row;
  justify-content :left;

  a{
    margin-left: 10px;
  }
  /*justify-content: space-between;*/
}

a.badge{
  margin: auto;
  text-decoration: none;
  img{
  vertical-align: middle;
  width:auto;
  height:auto;
  padding:0;
  margin:auto;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  align-items: center;
  } 
}

/************************/
/* Schrolling to anchor */
/************************/

#anchor-ECOGEN{
  scroll-margin-top: 60px;
}
#anchor-shock-induced-cavitation{
  scroll-margin-top: 60px;
}
#anchor-bubble-dynamics{
  scroll-margin-top: 60px;
}
#anchor-aerobreakup{
  scroll-margin-top: 60px;
}
#anchor-heat-exchanger{
  scroll-margin-top: 60px;
}
#anchor-density-currents{
  scroll-margin-top: 60px;
}