<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <div id="accueil">
      <div id="ECOGEN">
          <img src="{{ "/assets/images/LOGO-SIMPLE-ECOGEN-Bleu.png" | prepend: site.baseurl }}" alt="get it now!" />
      </div>
      <div class="button"> 
          <a href="https://github.com/code-mphi/ECOGEN" target="_blank"> <img src="{{ "/assets/images/transparent.png" | prepend: site.baseurl }}" alt="get it now!" /> </a> 
      </div>
    </div>

    <main>
      <!-- <article> -->
        {{ content }}
      <!-- </article> -->
    </main>
    {% include footer.html %}
  </body>
</html>